<div class="div_header">

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
   
    <div id="navbar3" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
        <li routerLinkActive="active"><a routerLink="/services">Services</a></li>
        <li routerLinkActive="active"><a routerLink="/pricing">Pricing</a></li>
        <li routerLinkActive="active"><a routerLink="/portfolio">Portfolio</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
</div>
